html,body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.hidden {
    overflow: hidden;
}

.scroll {
    height: 100%;
    overflow-y: scroll;
}

.linear {
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(105, 101, 234, 0.1),
        rgba(240, 211, 255, 0.1)
    );
}